/* Trig-Animations.css */

/* ************************ */

/* Trig.js */


    /* Trig */

    .trig{
        --trig-delay:0s;
        --trig-duration:1s;
        --trig-blend:ease-out;
        --trig-direction:normal backwards;
        position:relative;
    }

    /* END */


/* END */

/* ************************ */

/* Fade */


    /* Fade */

    .trig-fade .target, .trig-fade.target{
        display:inline-block;
    }

    .trig-fade.trig .target, .trig-fade.trig.target{
        animation: trig-fade var(--trig-direction) var(--trig-blend) var(--trig-duration);
        animation-delay: var(--trig-delay);
    }

    @keyframes trig-fade {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }

    /* END */

    /* Fade Up */

    .trig-fade-up .target, .trig-fade-up.target{
        display:inline-block;
    }

    .trig-fade-up.trig .target, .trig-fade-up.trig.target{
        animation: trig-fade-up var(--trig-direction) var(--trig-blend) var(--trig-duration);
        animation-delay: var(--trig-delay);
    }

    @keyframes trig-fade-up {
        0% {
            opacity:0;
            transform:translateY(100%);
        }
        100% {
            opacity:1;
            transform:translateY(0%);
        }
    }

    /* END */

    /* Fade Down */

    .trig-fade-down .target, .trig-fade-down.target{
        display:inline-block;
    }

    .trig-fade-down.trig .target, .trig-fade-down.trig.target{
        animation: trig-fade-down var(--trig-direction) var(--trig-blend) var(--trig-duration);
        animation-delay: var(--trig-delay);
    }

    @keyframes trig-fade-down {
        0% {
            opacity:0;
            transform:translateY(-100%);
        }
        100% {
            opacity:1;
            transform:translateY(0%);
        }
    }

    /* END */

    /* Fade Left */

    .trig-fade-left .target, .trig-fade-left.target{
        display:inline-block;
    }

    .trig-fade-left.trig .target, .trig-fade-left.trig.target{
        animation: trig-fade-left var(--trig-direction) var(--trig-blend) var(--trig-duration);
        animation-delay: var(--trig-delay);
    }

    @keyframes trig-fade-left {
        0% {
            opacity:0;
            transform:translateX(-100%);
        }
        100% {
            opacity:1;
            transform:translateX(0%);
        }
    }

    /* END */

    /* Fade Right */

    .trig-fade-right .target, .trig-fade-right.target{
        display:inline-block;
    }

    .trig-fade-right.trig .target, .trig-fade-right.trig.target{
        animation: trig-fade-right var(--trig-direction) var(--trig-blend) var(--trig-duration);
        animation-delay: var(--trig-delay);
    }

    @keyframes trig-fade-right {
        0% {
            opacity:0;
            transform:translateX(100%);
        }
        100% {
            opacity:1;
            transform:translateX(0%);
        }
    }

    /* END */

    /* Fade Up Left */

    .trig-fade-up-left .target, .trig-fade-up-left.target{
        display:inline-block;
    }

    .trig-fade-up-left.trig .target, .trig-fade-up-left.trig.target{
        animation: trig-fade-up-left var(--trig-direction) var(--trig-blend) var(--trig-duration);
        animation-delay: var(--trig-delay);
    }

    @keyframes trig-fade-up-left {
        0% {
            opacity:0;
            transform:translateX(-100%) translateY(100%);
        }
        100% {
            opacity:1;
            transform:translateX(0%) translateY(0%);
        }
    }

    /* END */
    
    /* Fade Up Right */

    .trig-fade-up-right .target, .trig-fade-up-right.target{
        display:inline-block;
    }

    .trig-fade-up-right.trig .target, .trig-fade-up-right.trig.target{
        animation: trig-fade-up-right var(--trig-direction) var(--trig-blend) var(--trig-duration);
        animation-delay: var(--trig-delay);
    }

    @keyframes trig-fade-up-right {
        0% {
            opacity:0;
            transform:translateX(100%) translateY(100%);
        }
        100% {
            opacity:1;
            transform:translateX(0%) translateY(0%);
        }
    }

    /* END */

    /* Fade Down Left */

    .trig-fade-down-left .target, .trig-fade-down-left.target{
        display:inline-block;
    }

    .trig-fade-down-left.trig .target, .trig-fade-down-left.trig.target{
        animation: trig-fade-down-left var(--trig-direction) var(--trig-blend) var(--trig-duration);
        animation-delay: var(--trig-delay);
    }

    @keyframes trig-fade-down-left {
        0% {
            opacity:0;
            transform:translateX(-100%) translateY(-100%);
        }
        100% {
            opacity:1;
            transform:translateX(0%) translateY(0%);
        }
    }

    /* END */
    
    /* Fade Down Right */

    .trig-fade-down-right .target, .trig-fade-down-right.target{
        display:inline-block;
    }

    .trig-fade-down-right.trig .target, .trig-fade-down-right.trig.target{
        animation: trig-fade-down-right var(--trig-direction) var(--trig-blend) var(--trig-duration);
        animation-delay: var(--trig-delay);
    }

    @keyframes trig-fade-down-right {
        0% {
            opacity:0;
            transform:translateX(100%) translateY(-100%);
        }
        100% {
            opacity:1;
            transform:translateX(0%) translateY(0%);
        }
    }

    /* END */

/* END */

/* ************************ */

/* Parallax */


    /* Parallax Up */

    .trig-parallax-up .target, .trig-parallax-up.target{
        display:inline-block;
        transform: translateY(calc(var(--trig-reverse) / 2));
        transition:transform var(--trig-blend) var(--trig-duration);
    }

    /* END */

    
    /* Parallax Down */
    
    .trig-parallax-down .target, .trig-parallax-down.target{
        display:inline-block;
        transform: translateY(calc(var(--trig) / 2));
        transition:transform var(--trig-blend) var(--trig-duration);
    }
    
    /* END */

    
/* END */
    
/* ************************ */